html {
    height: 100vh;
}
html, body {
    padding: 0;
    margin: 0;
    min-width: 380px;
    min-height: 600px;
    background: rgb(10,10,20);
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
body * {
    box-sizing: border-box;   
    font-family: 'Didact Gothic', Arial, Helvetica, sans-serif;
}
a {
    color: white;
}
.hide {
    display: none !important;
}
.loading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    background-color: inherit;
    z-index: 99;
}
#animesContainer {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.animeLine {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 120px;
    border-radius: 5px;
    width: 90%;
    position: relative;
}
.animeLine .animeImg img {
    width: 75px;
    height: 75px;
    border-radius: 100%;;
}
.animeLine .infosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-position: right;
}
.animeLine .infosContainer .bgContainer {
    background-position: inherit;
    background-image:inherit;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(.8);
    transition: brightness .1s ease-in;

}
.animeLine.airing .infosContainer .bg {
    background-position: inherit;
    background-image:inherit;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    filter: grayscale(1) invert(1);
}
.animeLine:hover  .infosContainer .bgContainer{
    filter: brightness(1);
}
/*.animeLine .infosContainer .bg::before {
    background-image:inherit;
    background-position: inherit;
    content: " ";
    width : 100%;
    height : 100%;
    position: absolute;
    left:0;
    top:0;
    filter: grayscale(0);

}*/
@keyframes animateBgBlur {
    0% {background-position: 100% 50%;}
    25% {background-position: 50% 0%;}
    50% {background-position: 0% 50%;}
    75% {background-position: 50% 100%;}
    100% {background-position: 100% 50%;}
  }
.animeLine .infosContainer .blurBg {
    background-position: inherit;
    background-image:inherit;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    filter: blur(0px);
    -webkit-filter: blur(0px); -moz-filter: blur(0px);
    -o-filter: blur(0px); -ms-filter: blur(0px); 
}
.animeLine:hover .infosContainer .blurBg {
    filter: blur(8px);
    -webkit-filter: blur(8px); -moz-filter: blur(8px);
    -o-filter: blur(8px); -ms-filter: blur(8px);
    animation-name: animateBgBlur;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animeLine .infosContainer .bgContainer::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: inset 1px 1px 40px 1px black;
    content: '';
    transition: all .1s ease-in;
}
.animeLine:hover .infosContainer .bgContainer::after {
    box-shadow: inset 1px 1px 10px 1px black;
}
.infosContainer .top {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    flex-direction: column;
}
#userOptions, .infosContainer .top .badges {
    display: flex;
    justify-content: flex-end;
}
#userOptions > *, .infosContainer .top .badges > *{
    background-color: rgb(95, 31, 197);
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 20px;
    min-width: 20px;
}
.infosContainer .top .badges .epNumber {
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 5px;
}
.infosContainer .top .badges .new {
    background-color: rgb(60, 141, 235);
}
.infosContainer .top .badges .behind {
    background-color: rgb(224, 49, 49);
}
.infosContainer .animeTitle, .infosContainer .animeCountDown, .infosContainer .animeIsUp, .infosContainer .animeIsUpWithDl {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.infosContainer .animeTitle {
    font-size: 16px;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    padding: 5px 30px;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.infosContainer .animeCountDown {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 60%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    height: 15%;
    color: black;
    font-weight: bold;
    transition: all .2s ease;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
}
.infosContainer .animeCountDown:hover {
    height: 30%;
    font-size: 24px;
    width: 70%;
    cursor: default;
}
.infosContainer .animeIsUp {
    width: 60%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: rgba(39, 54, 107, 0.9);
}
.infosContainer .animeIsUpWithDl {
    width: 100%;
    height: 30%;
}/*
.infosContainer .dlLink {
    text-decoration: none;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: rgb(17,109,30);
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    border:none;
    position: relative;
}
.infosContainer .dlLink.notStrict {
    background-color: rgb(154, 116, 15);
}
.infosContainer .dlLink:hover {
    filter: brightness(1.2);
}*/
#firstPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.userInfos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.userInfos span {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}
.userNameInput{
    font-size: 15px;
    width: 60%;
    margin-bottom: 10px;
}
#userName {
    color: white;
    font-size: 18px;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    align-self: center;
    background-color: rgb(95, 31, 197);
    margin-top: 10px;
}
#optionBar {
    display: flex;
    justify-content: flex-end;
}
#optionBar > * {
    background: transparent;
    color: white;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s ease;
    border: none;
}
#optionBar > *:hover {
    background-color: white;
    color: black;
}
#userOptions {
    justify-content: center;
    margin-bottom: 10px;
}
#userOptions > * {
    font-size: 10px;
    color: white;
    padding: 5px;
    background: rgb(56, 101, 169);
}
.choiceContainer {
    width: 60%;
}
.choiceContainer span {
    font-size: 24px;
    margin-bottom: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choseAnilist,.choseMAL {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    border: 1px solid white;
    cursor: pointer;
    padding: 40px;
}
.choseAnilist {
    background-image: url("../img/Anilist.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
}
.choseMAL {
    background-image: url("../img/MAL.png");
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.infos {
    font-size: 11px;
    color: rgb(255, 208, 0);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.error {
    color: red;
    font-size: 20px;
    padding: 20px;
}

.downloadInteractionContainer {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    margin-bottom: 10px;
    width: 100px;
    justify-content: space-between;
    position: relative;
}

.downloadInteractionContainer .dlButton {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #424aa9;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 1px 1px 10px black;
}
.downloadInteractionContainer .dlButton.notStrict {
    background: #7c5e25;
}
.downloadInteractionContainer .dlButton:hover {
    filter: brightness(1.2);
}
.downloadInteractionContainer .dlPage {
    background: #504069;
}
.downloadInteractionContainer .dlButton svg {
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    fill: white;
}

.downloadInteractionContainer .ratio {
    position: absolute;
    width: 140px;
    top: 8px;
    left: -20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    z-index: -1;
    
}

.ratio > * {
    border-radius: 20px;
    min-width: 30px;
    position: relative;
    z-index: 1;

}

.ratio .upRatio {
    background-color: #266f28;
    text-align: left;
    padding-left: 3px;

}
.ratio .downRatio {
    background-color: red;
    text-align: right;
    padding-right: 3px;


}

